:root {
  --ACCENT-DARK-BLUE-CLR: #1b31a8;
  --ACCENT-LIGHT-BLUE-CLR: #0079ff;
  --GREY-TEXT-CLR: #4d6475;
  --PRIMARY-BACKGROUND-CLR: #f4f8fa;
  --PRIMARY-TEXT-CLR: #000;

  --BODY-PADDING-X: clamp(1rem, 1rem + 2vw, 4rem);
  --BODY-PADDING-Y: 1.5rem;
  --LOGO-HEIGHT: 50px;
  --NAVBAR-PADDING-Y: 10px;
}
